.Auth {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form {
    //background-color: rgba(255, 0, 0, .2);
    width: 100%;
    max-width: 320px;

    .content {
      margin-top: 40px;

      input {
        padding: 10px 15px;
        background: #FFFFFF;
        box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
    }
  }
  .btnLogin {
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    background-color: rgba(106, 0, 255, 0.79);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
  }
}