.Hashtags {
  height: 20%;
  padding: 10px 0;
  margin: 10px 15px 5px 15px;
  display: flex;
  align-items: center;
  border-top: 2px solid #00CCE9;
  span {
    font-weight: 500;
    padding: 0 3px;
  }
}